.item {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.del {
  margin-left: 1em;
  padding: 0 1em;
  color: red;
  cursor: pointer;
  border: none;
  outline: none;
}

.del:hover {
  text-decoration: underline;
}
